textarea {
  width: 100%;
  background: #ffffff;
  color: #111;
  border: 1px solid #b7c97b;
  border-radius: 10px;
  padding: 12px 14px;
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  border-color:#b7c97b;
  box-shadow: 0 0 5px rgba(229, 9, 20, 0.3);
}
